body{
    background-color: gray;
}
.REMDOM{
    margin: 6rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: black;
    color: whitesmoke;
    h1{
        text-align: center;
    }
    #roll{
        border-radius: 1rem;
        padding: 2rem;
        font-size: 2rem;
        font-weight: bold;
        margin-left: 10rem;
    }
    #NUMBER{
        text-align: center;
        font-size: 8rem;
    }
}